@media only screen and (min-width: 1200px) {

    header {
       margin: 50px;
    }
    header h1 {}

    header h2 {}
    main {
        object-position: left;
        text-align: right;
    }
}

nav {
    margin: 0 auto;
    width: 80%;
}


}
