{
    box-sizing: border-box;
}

head body {
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: 'Wendy One', sans-serif;
}

header,
nav,
main,
footer {
    color: blueviolet;
    text-align: center;
    letter-spacing: 0.005px;
    line-height: 20px;
   
    
}

header {}

header h1 {}

header img {
    min-width: 300px;
}

header .subheading {}

nav {}

nav button {}

nav ul {}

nav ul li {}

nav ul li a {}

nav ul li.active a {}

nav ul li a:hover {}

main {}

main h2 {}

main figure {}

main figure img {
    min-width: 300px;
}

footer {
    font-size: 12px;
    padding-top: 100px;
    bottom: 0;
    width: 100%;
}

/*navigation bar*/

.hamburger {}

.navigation {
    list-style: none;
    padding-left: 0;
}

.navigation li {
    display: none;
}

.navigation.responsive {
    position: relative;
}

.navigation.responsive li {
    background-color: #333;
    display: block;
    width: 100%;
    margin: 2px 0;
    border: 1px solid #ddd;
}

.navigation.responsive li a {
    padding: 1rem;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #eee;
}

.navigation.responsive li a:hover {
    color: #000;
    background-color: #777;
}
