@media screen and (min-width: 360px) {

    /**header**/
    .rightcol {
        display: none;
        /**if header would be visible**/
       top: -10px;
       right: -30px;
       position: fixed;
       width: auto;
       background: none;
    }
    
    /**nav**/
    nav {
         background-color: black;
    }
    
    nav span {
       top: -15px;
       width: 100%;
       padding: 20px 20px;
    }

       
    /**paragraph font**/
    p {
        font-size: 24px;
    }

    /**video on homepage**/

   #myVideo {
        display: auto;
        position: fixed;
        z-index: auto;
        right: 0;
        bottom: 370px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }

    
     body {
        font-size: 20px;
        background-color: cornsilk;
    }
    
    
    .content {
        position: fixed;
        top: 270px;
        width: 100%;
        padding: 20px;
    }

}