@media screen and (min-width: 400px) {

    /**page size**/
    #content0 {
        max-width: 450px;
    }

    /**header**/
    .rightcol {
        display: none !important;
    }

    /**paragraph font**/
    p {
        font-size: 24px;
    }


    /**video on homepage**/

    body {
        font-size: 18px;
    }

    #myVideo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        height: 25%;
    }

    .content {
        top: 700px;
        width: 100%;
        padding: 20px;
    }

}