@media screen and (min-width: 360px) {

    /**page size**/
    #content0 {
        max-width: 450px;
    }

    /**header**/
    .rightcol {
        display: none !important;
    }
    
    /**nav**/
    nav {
         background-color: transparent;
    }
    
    nav span {
        display: inline !important;
    }

       
    /**paragraph font**/
    p {
        font-size: 24px;
    }

    /**video on homepage**/

   #myVideo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        height: 25%;
    }

    
     body {
        font-size: 18px;
    }
    
    
    .content {
        top: 700px;
        width: 80%;
        padding: 20px;
    }

}